<header class="header">
  <div class="container header-inner">
    <a class="logo" href="/">FazConta</a>
    <nav class="nav">
      <a href="/">Início</a>
      <a href="/trabalhista">Trabalhista</a>
      <a href="/sobre">Sobre</a>
      <a href="/privacidade">Privacidade</a>
    </nav>
  </div>
</header>
